
{% extends 'base.html.twig' %}

{% block body %}


{{ form_start(form) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>

<div class="form-container">
            <div class="form-header-text"><h1 style="margin-top: 0px;">CONTACT</h1></div>
        <div class="">
            {{form_row(form.firstName, {'attr': { 'class': 'form-input'}}) }}
        </div>
        <div class="" id="some-custom-id">
            {{ form_row(form.lastName, {'attr': { 'class': 'form-input'}}) }}
        </div>
        {{ form_row(form.save, {'attr': { 'class': 'submit-form-button'}}) }}
    </div>
  

</div>

{{ form_end(form) }}



{% endblock %}


